.cotent-1{
    background-color: #fbf7ed;
}
.text-content1-title{
    font-family: Verdana;
    font-weight: bold;
    font-size: 33px;
    color: #004c3f;

}

.text-content1-note{
    font-family: sans-serif;
    font-size: 10px;
    color: #000000;

}

.bg-image {
    /* The image used */
    background-image: url("../../asset/hero1.jpg");
    /* Full height */
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }